<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>ERROR</level>
         </filter>-->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH:-.}/blockchain.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH:-.}/blockchain-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="warn">
            <appender-ref ref="console"/>
        </root>
        <logger name="org.springframework.web.servlet.mvc.method.annotation" additivity="false" level="info">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.springframework.boot.web.embedded.undertow" additivity="false" level="info">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.springframework.integration.ip.udp.UnicastReceivingChannelAdapter" additivity="false" level="debug">
            <appender-ref ref="console"/>
        </logger>
        <logger name="org.jooq" additivity="false" level="debug">
            <appender-ref ref="console"/>
        </logger>
        <logger name="im.lsn.fabric.demo" additivity="false" level="debug">
            <appender-ref ref="console"/>
        </logger>
    </springProfile>
    <springProfile name="prod">
        <root level="warn" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </root>
        <logger name="im.fireflyc.blockchainlibrary" additivity="false" level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="file"/>
        </logger>
    </springProfile>
</configuration>